.buttons {
  background-color: transparent;
  color: white;
  border: 1.3px solid white;
  margin: 4px 2px;
  cursor: pointer;
  padding: 2.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width: 140px;

  /* text-shadow: 10px 10px 10px #000000; */
  box-shadow: 2px 2px 4px #000;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  text-shadow: 4px 4px 0 #000, 1px 1px 5px #000, 1px 1px 5px #000, 1px 1px 5px #000;
}

.buttons:hover {
  color: #9fe29c;
  border: 1.3px solid #9fe29c;
  text-decoration: bold;
}

.shrink-on-hover {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.2s;
  transition-property: transform;
}

.shrink-on-hover:active {
  transform: scale(0.85);
}
