.app {
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 150vh auto;
  background-position: center;
  overflow: hidden;
  

}

.items {
  display: flex;
  flex-direction: row;
  margin-right: 3%;
  margin-left: auto;
  overflow: hidden;
}
