.invent {
  color: white;
  text-align: left;
  border: 1.7px dashed white;
  padding: 1%;
  width: 300px;
  height: 100px;
  margin: 3%;
  /* text-shadow: 2px 2px 4px #000000; */
  box-shadow: 2px 2px 4px #000000;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  text-shadow: 4px 4px 0px #000000, 1px 1px 5px #000000, 1px 1px 5px #000000, 1px 1px 5px #000000;
  -webkit-box-stroke-width: 0.3px;
  -webkit-box-stroke-color: white;
  box-shadow: 4px 4px 0px #000000, 1px 1px 5px #000000, 1px 1px 5px #000000, 1px 1px 5px #000000;
}

.invent-items{
  display: flex;
  flex-direction: row;
}

.invent-item-two{
  margin-right: 3%;
  margin-left: auto;
}