.buttons{
  background-color: Transparent;
  color: white;
  border: 1px solid white;
  margin: 4px 2px;
  cursor: pointer;
  padding: 2.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width: 140px;
}

.buttons:hover{
  color: #9fe29c;
  border: 1px solid #9fe29c;
  text-decoration: bold;
}

.shrink-on-hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink-on-hover:active {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}

.log{
  color:white;
  text-align: left; 
  margin-right: 15px; 
}

.invent{
  color:white;
  text-align: left; 
  border: 1.2px dashed white;
  padding: 1%;
  width: 300px;
  height: 100px;
  
}

.buttons-group{
  margin-right: 100px; 
  display: flex;
  flex-direction: column;
}
